validationXML/cvsGen.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<!ELEMENT typePermis (#PCDATA)>
<!ELEMENT pnom (#PCDATA)>
<!ELEMENT permis EMPTY>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT ident ((nom, pnom+, (typePermis | (age, permis))))>
<!ELEMENT formations ((formation+))>
<!ELEMENT formation (#PCDATA)>
<!ATTLIST formation
	nbHeures CDATA #IMPLIED
	niveauBAC CDATA #REQUIRED
	obtenu CDATA #IMPLIED
>
<!ELEMENT cvs ((cv+))>
<!ELEMENT cv ((ident, formations))>
<!ATTLIST cv
	id CDATA #REQUIRED
>
<!ELEMENT age (#PCDATA)>
